#################################################################################
#
# Editor Configurations
#
# For details, see: https://editorconfig.org/#file-format-details
#
# For Visual Studio additions, see: https://aka.ms/editorconfigdocs
#
# You can find the latest version of this file here: https://github.com/skrysmanski/base-dotnet
#
#################################################################################

root = true

#
# All files
#
[*]
# For reasoning about encoding, see: https://github.com/skrysmanski/base/blob/master/docs/utf8-and-bom.md
charset = utf-8

end_of_line = lf

indent_style = space
indent_size = 4

trim_trailing_whitespace = true
insert_final_newline = true


#
# Markdown
#
[*.md]
charset = utf-8-bom

# For explanation why spaces are used for Markdown, see: https://github.com/skrysmanski/base/blob/master/docs/markdown-indentation.md
indent_style = space
indent_size = 4


#
# .json files
#
[*.json]
indent_style = tab
indent_size = 4


#
# .yaml files
#
[*.{yml,yaml}]
indent_size = 2


#
# Windows batch files
#
[*.{bat,cmd}]
end_of_line = crlf


#
# C# files
#
[*.cs]
# BOM is supported and files may contain non-English texts (think: author names, comments
# and maybe even strings to show to the user).
charset = utf-8-bom

# For explanation why "crlf", see: https://github.com/skrysmanski/base-dotnet/blob/main/docs/cs-line-endings.md
end_of_line = crlf


#
# VS project files
#
[*.csproj]
# BOM is supported.
charset = utf-8-bom

# This is how Visual Studio creates project files.
indent_size = 2

# Unfortunately, Visual Studio seems to ignore the end-of-line style for .csproj
# files - and always creates .csproj files with crlf. Thus, we enforce the end-of-line
# characters in .gitattributes instead.
end_of_line = unset


#
# Razor files
#
[*.cshtml]
# BOM is supported and files may contain native (i.e. non-English) texts.
charset = utf-8-bom


#
# .props files
#
[*.{props,targets}]
# BOM is supported.
charset = utf-8-bom

# This mirrors the indent size for .csproj files.
indent_size = 2


#
# Visual Studio Solution files
#
[*.sln]
# Visual Studio creates .sln files with BOM.
charset = utf-8-bom

# .sln files require tabs or the solution won't load
indent_style = tab
indent_size = 4

end_of_line = crlf


#
# ReSharper settings files
#
[*.DotSettings]
# ReSharper creates .DotSettings files with BOM.
charset = utf-8-bom
indent_style = tab
